<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>simple-search-engine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" 
        href="{{url_for('static', filename='css/bootstrap.min.css')}}" />
</head>

<header>
    <div style="text-align: center; margin-bottom: 50px;
        margin-top: 50px">
        <a href="/">Index</a>
        <a href="/search">Search</a>
    </div>
</header>

<body>
    <form method="POST" action="/search/">
            <div class="form-group" style="margin-left:20%; margin-right: 20%;
                margin-bottom: 50px;">
              <input type="text" class="form-control" name="searchTermInput" placeholder="search for..">
            </div>
            <div style="text-align: center">
                <button type="submit" class="btn btn-success">Search</button>
            </div>
    </form>

    <div style="margin-left: 50px">
            {% if resultList %}
                <h4>Found {{ listSize }} result(s)</h4>
                
                <ul>
                    {% for result in resultList %}
                        <li>
                            <a href={{result[0]}}>{{ result[1] }}</a>
                            <h6>Occurence(s): {{ result[2] }}</h6>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>


</body>
</html>